<div>
    <!-- Filter div as a left sided pane -->
    <!-- products container -->
    <div class="container">
        <div class="d-flex justify-content-end mt-3 mb-3">
            <label for="sort" class="">Sort By:</label><br />
            <select name="sort" id="sort">
                <option value="priceAscending">Price(low to high)</option>
                <option value="priceDescending">Price(high to low)</option>
                <option value="BrandA">Brand(A-Z)</option>
                <option value="BrandZ">Brand(Z-A)</option>
            </select>
        </div>
        <!-- End of Sort by element -->

        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <h5>Filter by:</h5>
                <ul class="nav-sidebar">
                    <li>Brand</li>
                    <li>Category</li>
                </ul>
            </div>
            <!-- Filter side bar on left -->
            <div *ngFor="let tempProduct of products" class="col-md-3">
                <div class=" card">
                    <a href="#">
                        <img class="card-img-top" src="{{ tempProduct.imageUrl }}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="Product-1">{{ tempProduct.productName }}</h5>
                        <p class="card-text">{{ tempProduct.productDescription }}</p>
                        <p>Brand: {{ tempProduct.productBrand }}</p>
                        <p>Category: {{ tempProduct.productCategory }}</p>
                        <h6 class="price">{{ tempProduct.productPrice | currency:'GBP'}}</h6>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>