<div>
    <!-- Filter div as a left sided pane -->
    <!-- product container -->
    <div class="container">
        <div class="float-right">
            <label for="sort" class="">Sort By:</label><br />
            <select name="sort" id="sort">
                <option value="priceAscending">Price(low to high)</option>
                <option value="priceDescending">Price(high to low)</option>
                <option value="BrandA">Brand(A-Z)</option>
                <option value="BrandZ">Brand(Z-A)</option>
            </select>
        </div>
        <div class="col-sm-3 col-md-2 sidebar" id="sticky-sidebar">
            <p>sidebar</p>
        </div>
        <div class="row justify-content-center mb-4">
            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="../../../assets/images/image-cap.svg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="Product-1">Product 1</h5>
                        <p>Brand: </p>
                        <p>Category: </p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <h6 class="price">£13.99</h6>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="../../../assets/images/image-cap.svg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="Product-1">Product 2</h5>
                        <p>Brand: </p>
                        <p>Category: </p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <h6 class="price">£13.99</h6>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="../../../assets/images/image-cap.svg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="Product-1">Product 3</h5>
                        <p>Brand: </p>
                        <p>Category: </p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <h6 class="price">£13.99</h6>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="../../../assets/images/image-cap.svg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="Product-1">Product 4</h5>
                        <p>Brand: </p>
                        <p>Category: </p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <h6 class="price">£13.99</h6>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <p>products works!</p>
</div>