<div>
    <!-- Filter div as a left sided pane -->
    <!-- products container -->
    <div class="container">
        <div class="d-flex justify-content-end mt-3 mb-3">
            <label for="sort" class="sort-select">Sort By:</label><br />
            <select (change)="onChangeSort()" #sort name="sort-select" id="sort-select">
                <option value="PriceAscending">Price(low to high)</option>
                <option value="PriceDescending">Price(high to low)</option>
                <option value="BrandAZ">Brand(A-Z)</option>
                <option value="BrandZA">Brand(Z-A)</option>
            </select>
        </div>
        <!-- End of Sort by element -->

        <div class="row">

            <div class="col-sm-3 col-md-2 sidebar">
                <h5>Filter by:</h5>
                <!-- brand select -->
                <label for="brand-select">Brand: </label>

                <select (change)="onChange()" #brand name="brands" id="brand-select">
                    <option value="">Please choose an option</option>
                    <option *ngFor="let brand of brands" [value]="brand.brandName">{{ brand.brandName }}</option>
                </select>
                <br />
                <label for="category-select">Category: </label>

                <select (change)="onChange()" #category name="categories" id="category-select">
                    <option value="">Please choose an option</option>
                    <option *ngFor="let category of categories" [value]="category.categoryName">{{
                        category.categoryName }}
                    </option>
                </select>
            </div>
            <!-- Filter side bar on left -->
            <!-- Error message -->
            <div *ngIf="error" class="col">
                <span class="help-block text-danger"><strong>No products found with Brand "{{ brand.value }}" and
                        Category "{{ category.value}}"</strong>
                </span>
            </div>
            <div *ngFor="let tempProduct of products" class="col-md-3 mb-3">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="{{ tempProduct.imageUrl }}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="Product-1">{{ tempProduct.productName }}</h5>
                        <p class="card-text">{{ tempProduct.productDescription }}</p>
                        <p>Brand: {{ tempProduct.brand }}</p>
                        <p>Category: {{ tempProduct.category }}</p>
                        <h6 class="price">{{ tempProduct.productPrice | currency:'GBP'}}</h6>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>