<div class="container m-1">
    <div class="row" *ngIf="!empty">
        <div *ngFor="let tempProduct of products" class="col-md-3">
            <div class="card" style="margin: 0.5em;">
                <a href="#">
                    <img class="card-img-top" src="{{ tempProduct.imageUrl }}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="Product-1">{{ tempProduct.productName }}</h5>
                    <p class="card-text">{{ tempProduct.productDescription }}</p>
                    <p>Brand: {{ tempProduct.brand }}</p>
                    <p>Category: {{ tempProduct.category }}</p>
                    <p>Quantity: {{tempProduct.quantity}}</p>
                    <h6 class="price">{{ tempProduct.productPrice | currency:'GBP'}}</h6>
                </div>
                <button class="btn btn-primary" (click)="removeFromCart(tempProduct.productId)">Remove from cart</button>
            </div>
        </div>
    </div>
</div>
<h4 *ngIf="empty" class="text text-center rounded">You have no products in your shopping cart currently.</h4>
<hr *ngIf="!empty">
<div *ngIf="!empty" class="bg-light p-4" style="display: flex; justify-content: center;">
    <button class="btn btn-primary m-2" href="#">Checkout</button>
    <h5 class="pt-3">{{price | currency:'GBP'}}</h5>
</div>
