<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="padding:1em 2em;">
    <a class="navbar-brand">Company Brand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="justify-content-end" id="navbarResponsive" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">

        <app-navbar-admin *ngIf="isAdmin"></app-navbar-admin>
        <app-navabar-customer *ngIf="!isAdmin"></app-navabar-customer>
    </div>
</nav>