<ngbd-carousel-basic></ngbd-carousel-basic>
<!-- Description on store section -->
<div class="container bg-light" style="margin-top: 3em; padding: 2em; padding-bottom: 2em;">
    <h3 class="header-text text-center" style="font-weight: 500;">About Us</h3>
    <p class="text-center" style="font-size: larger; font-weight: 200; font-size: larger;">
        We are we WeLoveTech.com. We are a local tech retailer bringing exciting and new technology to your doorstep. We have been in the tech industry for 10 years and have learnt a great deal regarding what you want from your retailer, and we strive to meet
        your every needs.
    </p>
</div>
<div class="container" style="margin-top: 3em; margin-bottom: 3em;">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <a href="">
                    <img class="card-img-top" width="265" height="300" src="../../../assets/images/product-images/samsung-tablet.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <p class="card-text">We Sell Tablets!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="#">
                    <img class="card-img-top" width="265" height="300" src="../../../assets/images/product-images/Samsung-phones.jfif" alt="Card image cap">
                </a>
                <div class="card-body">
                    <p class="card-text">We Sell Phones!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="#">
                    <img class="card-img-top" width="265" height="300" src="../../../assets/images/product-images/dell-laptop.jfif" alt="Card image cap">
                </a>
                <div class="card-body">
                    <p class="card-text">We Sell Laptops!</p>
                </div>
            </div>
        </div>
    </div>
</div>