<app-navbar></app-navbar>
<ngbd-carousel-basic></ngbd-carousel-basic>
<div class="container" style="margin-top: 3em;">
    <h3 class="header-text text-center" style="font-weight: 500;">Description on store</h3>
    <p class="text-center" style="font-size: larger; font-weight: 200; font-size: larger;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsa inventore cum suscipit, animi qui assumenda, exercitationem distinctio magnam, rem ducimus necessitatibus perspiciatis placeat illum consequatur vitae numquam rerum corporis?Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Distinctio saepe facilis deserunt atque vitae velit numquam inventore expedita, asperiores doloribus corporis explicabo aliquid ratione rem quidem exercitationem rerum cum labore.
    </p>
</div>
<div class="container fluid" style="margin-top: 3em; margin-bottom: 3em;">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <a href="#">
                    <img class="card-img-top" src="../../../assets/images/image-cap.svg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="#">
                    <img class="card-img-top" src="../../../assets/images/image-cap.svg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="#">
                    <img class="card-img-top" src="../../../assets/images/image-cap.svg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
