<ng-template #content let-modal id="modalProd">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Product Updates</h4>
    </div>
    <div class="modal-body">
        <form #editProd="ngForm">
            <div class="form-group">
                <label for="prodName">Product Name</label>
                <div class="input-group">
                    <input id="prodName" maxLength="50" class="form-control" placeholder={{item.productName}} type="text" [(ngModel)]="productDetails.productName" [ngModelOptions]="{standalone: true}" required name="prodName" #prodName="ngModel">
                </div>
                <div *ngIf="prodName.invalid && (prodName.dirty || prodName.touched)" class="alert alert-danger">
                    Product Name is required
                </div>
            </div>
            <div class="form-group">
                <label for="prodDescription">Product Description</label>
                <div class="input-group">
                    <input id="prodDescription" maxLength="250" class="form-control" placeholder={{item.productDescription}} [(ngModel)]='productDetails.productDescription' [ngModelOptions]="{standalone: true}" required name="prodDesc" #prodDesc="ngModel">
                </div>
                <div *ngIf="prodDesc.invalid && (prodDesc.dirty || prodDesc.touched)" class="alert alert-danger">
                    Product Description is required
                </div>
            </div>
            <div class="form-group">
                <label for="prodPrice">Product Price</label>
                <div class="input-group">
                    <input id="prodPrice" class="form-control" min=0 value={{item.productPrice}} type="number" [(ngModel)]='productDetails.productPrice' [ngModelOptions]="{standalone: true}" required name="prodPrice" #prodPrice="ngModel">
                </div>
                <div *ngIf="prodPrice.invalid && (prodPrice.dirty || prodPrice.touched)" class="alert alert-danger">
                    Product Price is required
                </div>
            </div>
            <div class="form-group">
                <label for="prodBrand">Product Brand</label>
                <div class="input-group">
                    <input id="prodBrand" maxLength="30" class="form-control" placeholder={{item.productBrand}} [(ngModel)]='productDetails.productBrand' [ngModelOptions]="{standalone: true}" required name="prodBrand" #prodBrand="ngModel">
                </div>
                <div *ngIf="prodBrand.invalid && (prodBrand.dirty || prodBrand.touched)" class="alert alert-danger">
                    Product Brand is required
                </div>
            </div>
            <div class="form-group">
                <label for="prodCategory">Product Category</label>
                <div class="input-group">
                    <input id="prodCategory" maxLength="30" class="form-control" placeholder={{item.productCategory}} [(ngModel)]='productDetails.productCategory' [ngModelOptions]="{standalone: true}" required name="prodCategory" #prodCategory="ngModel">
                </div>
                <div *ngIf="prodCategory.invalid && (prodCategory.dirty || prodCategory.touched)" class="alert alert-danger">
                    Product Category is required
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="onSubmit(modal)">Edit Product</button>
        <button type="button" aria-label="Close" class="btn btn-outline-dark" (click)="onClose(modal)">Close</button>

    </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">Edit</button>


<hr>