<ng-template #content let-modal id="modalUser">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">User Updates</h4>
    </div>
    <div class="modal-body">
        <form #editUserForm="ngForm">
            <!-- User First Name -->
            <div class="form-group">
                <label for="userfName">User First Name</label>
                <div class="input-group">
                    <input id="userfName" maxlength="20" class="form-control" placeholder={{itemUser.firstName}} type="text" [(ngModel)]="newUserDetails.firstName" [ngModelOptions]="{standalone: true}" required name="fName" #fName="ngModel">
                </div>
                <div *ngIf="fName.invalid && (fName.dirty || fName.touched)" class="alert alert-danger">
                    First Name is required
                </div>
            </div>
            <!-- User Last Name -->
            <div class="form-group">
                <label for="userlName">User Last Name</label>
                <div class="input-group">
                    <input id="userlName" maxlength="20" class="form-control" placeholder={{itemUser.lastName}} type="text" [(ngModel)]='newUserDetails.lastName' [ngModelOptions]="{standalone: true}" required name="lName" #lName="ngModel">
                </div>
                <div *ngIf="lName.invalid && (lName.dirty || lName.touched)" class="alert alert-danger">
                    Last Name is required
                </div>
            </div>
            <!-- User Email -->
            <div class="form-group">
                <label for="userEmail">User Email</label>
                <div class="input-group">
                    <input id="userEmail" maxlength="50" class="form-control" placeholder={{itemUser.email}} type="text" [(ngModel)]='newUserDetails.email' [ngModelOptions]="{standalone: true}" required name="email" #email="ngModel">
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    Email is required
                </div>
            </div>
            <!-- User Password -->
            <div class="form-group">
                <label for="userPass">User password</label>
                <div class="input-group">
                    <input pattern="(?=.*[!@#$%&*])(?=.*[a-z])(?=.*[A-Z]).{6,}" id="userPass" maxlength="10" class="form-control" type="password" [(ngModel)]='newUserDetails.password' [ngModelOptions]="{standalone: true}" required name="password" #password="ngModel">
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    Password is required
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <span class="help-block" *ngIf="(!password.valid && password.dirty)">Enter Strong Password(Must contain one upper case, lower case, special char(!@#$%&*) & number) </span>
                </div>
            </div>
            <!-- User Confirm Password -->
            <div class="form-group">
                <label for="userConfirmPass">Confirm Password</label>
                <input type="password" class="form-control" pattern="{{password.value}}" maxlength="10" [(ngModel)]='confirmPass' [ngModelOptions]="{standalone: true}" required name="conPassword" #conPassword="ngModel">
                <div *ngIf="(!conPassword.valid && conPassword.touched && password.dirty)" class="alert alert-danger">
                    Passwords do not match
                </div>
                <div *ngIf="(conPassword.touched && !conPassword.dirty)" class="alert alert-danger">
                    Please Enter Confirm Password
                </div>
            </div>
            <!-- User Title -->
            <div class="form-group mt-2">
                <label for="userTitle">User Title</label>
                <select class="form-control" id="title" required name="title" [(ngModel)]='newUserDetails.title' #title="ngModel" required>
                  <option *ngFor="let t of titles" [value]="t">{{t}}</option>
                </select>
            </div>
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                Title is required
            </div>
            <!-- User DOB -->
            <div class="form-group">
                <label for="userDOB">User DOB</label>
                <div class="input-group">
                    <input id="userDOB" disabled=true class="form-control" type="date" [(ngModel)]='newUserDetails.dateOfBirth' [ngModelOptions]="{standalone: true}" name="dob" #dob="ngModel">
                </div>
            </div>
            <!-- User Phone Number -->
            <div class="form-group">
                <label for="userPhone">User phone number</label>
                <div class="input-group">
                    <input id="userPhone" maxlength="10" class="form-control" placeholder={{itemUser.phoneNumber}} type="text" [(ngModel)]=' newUserDetails.phoneNumber ' [ngModelOptions]="{standalone: true}" required name="phoneNumber" #phoneNumber="ngModel">
                </div>
                <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
                    Phone Number is required
                </div>
            </div>
            <!-- User Address -->
            <div class="form-group">
                <label for="userAddress">User Address</label>
                <div class="input-group">
                    <input id="userAddress" maxlength="150" class="form-control" placeholder={{itemUser.address}} type="text" [(ngModel)]='newUserDetails.address ' [ngModelOptions]="{standalone: true}" required name="address" #address="ngModel">
                </div>
                <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                    Address is required
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]="!editUserForm.form.valid" (click)="onSubmit(modal)">Edit User</button>
        <button type="button" aria-label="Close" class="btn btn-outline-dark" (click)="onClose(modal)">Close</button>
    </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">Edit User</button>


<hr>