<div style="width: 30rem; margin: auto;">
    <form #editUserInfo="ngForm">
        <div class="form-group">
            <label for="userfName">User First Name</label>
            <div class="input-group">
                <input id="userfName" maxlength="20" class="form-control" type="text" [(ngModel)]="newUserDetails.firstName" [ngModelOptions]="{standalone: true}" required name="fName" #fName="ngModel" [disabled]="disabledFields">
            </div>
            <div *ngIf="fName.invalid && (fName.dirty || fName.touched)" class="alert alert-danger">
                First Name is required
            </div>
        </div>
        <div class="form-group">
            <label for="userlName">User Last Name</label>
            <div class="input-group">
                <input id="userlName" maxlength="20" class="form-control" type="text" [(ngModel)]='newUserDetails.lastName' [ngModelOptions]="{standalone: true}" required name="lName" #lName="ngModel" [disabled]="disabledFields">
            </div>
            <div *ngIf="lName.invalid && (lName.dirty || lName.touched)" class="alert alert-danger">
                Last Name is required
            </div>
        </div>
        <div class="form-group">
            <label for="userEmail">User Email</label>
            <div class="input-group">
                <input id="userEmail" maxlength="50" class="form-control" type="text" [(ngModel)]='newUserDetails.email' [ngModelOptions]="{standalone: true}" required name="email" #email="ngModel" [disabled]="disabledFields">
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                Email is required
            </div>
        </div>
        <!-- Password -->
        <div class="form-group">
            <label for="userPass">User Password</label>
            <input type="password" class="form-control" pattern="(?=.*[!@#$%&*])(?=.*[a-z])(?=.*[A-Z]).{6,}" [(ngModel)]='newUserDetails.password' [ngModelOptions]="{standalone: true}" required name="password" #password="ngModel" [disabled]="disabledFields" maxlength="10">
            <div *ngIf="(password.touched && !password.dirty)" class="alert alert-danger">
                Please Enter Password
            </div>
            <div *ngIf="(!password.valid && password.dirty)" class="alert alert-danger">
                Enter Strong Password(Must contain one upper case, lower case, special char(!@#$%&*) & number)
            </div>
        </div>

        <!-- Confirm Password -->
        <div class="form-group">
            <label for="userConfirmPass">Confirm Password</label>
            <input type="password" class="form-control" pattern="{{password.value}}" maxlength="10" [(ngModel)]='confirmPass' [ngModelOptions]="{standalone: true}" required name="conPassword" #conPassword="ngModel" [disabled]="disabledFields">
            <div *ngIf="(!conPassword.valid && conPassword.touched && password.dirty)" class="alert alert-danger">
                Passwords do not match
            </div>
            <div *ngIf="(conPassword.touched && !conPassword.dirty)" class="alert alert-danger">
                Please Enter Confirm Password
            </div>
        </div>

        <!-- Title -->
        <div class="form-group mt-2">
            <label for="userTitle">User Title</label>
            <select class="form-control" id="title" required name="title" [(ngModel)]='newUserDetails.title' #title="ngModel" required [disabled]="disabledFields">
          <option *ngFor="let t of titles" [value]="t">{{t}}</option>
        </select>
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                Title is required
            </div>
        </div>
        <div class="form-group">
            <label for="userDOB">User DOB</label>
            <div class="input-group">
                <input id="userDOB" class="form-control" type="date" [(ngModel)]='newUserDetails.dateOfBirth' [ngModelOptions]="{standalone: true}" required name="dob" #dob="ngModel" [disabled]="true">
            </div>
        </div>
        <div class="form-group">
            <label for="userPhone">User phone number</label>
            <div class="input-group">
                <input id="userPhone" maxlength="10" class="form-control" type="text" [(ngModel)]='newUserDetails.phoneNumber' [ngModelOptions]="{standalone: true}" required name="phoneNumber" #phoneNumber="ngModel" [disabled]="disabledFields">
            </div>
            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
                Phone Number is required
            </div>
        </div>
        <div class="form-group">
            <label for="userAddress">User Address</label>
            <div class="input-group">
                <input id="userAddress" maxlength="150" class="form-control" type="text" [(ngModel)]='newUserDetails.address' [ngModelOptions]="{standalone: true}" required name="address" #address="ngModel" [disabled]="disabledFields">
            </div>
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                Address is required
            </div>
        </div>
        <div class="">
            <button type="button" class="btn btn-warning" style="margin: 1em;" (click)="disableFunc()" [disabled]="!disabledFields">Edit</button>
            <button type="button" class="btn btn-warning" style="margin: 1em;" (click)="onSubmit()" [disabled]="disabledFields">Save Edits</button>
            <button type="button" class="btn btn-warning" style="margin: 1em;" (click)="reset()" [disabled]="disabledFields">Reset</button>
        </div>
    </form>
</div>