<div class="card">
  <h1 class="text-center">Registration</h1>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
<div class="mb-3">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="E-Mail Address" class="form-control"  type="email" 
  ngModel required email #email="ngModel"
  autocomplete="off"
  >
    </div>
       </div>
       <p class="help-block text-white" *ngIf="!email.valid && email.touched">Please enter a valid
        email!</p>

<div class="mb-3">
  
   <div class="input-group"> 
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
 <!-- <select class="form-control"  name="title" ngModel title required #title="ngModel" >  -->
  <select class="form-control"  name="title"> 
  <option value="Mr."> Mr.</option>
<option value="Mrs."> Mrs.</option>
<option value="Miss"> Miss</option>
<option value="Ms."> Ms.</option>
</select>
</div>
</div>

<div class="mb-3">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input type="text" name="firstName" placeholder="Enter First Name" class="form-control" 
 ngModel required firstName #firstName="ngModel"
 autocomplete="off">
</div>
</div>

<div class="mb-3">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input type="text" name="lastName" placeholder="Enter Last Name" class="form-control" 
ngModel required lastName #lastName="ngModel"
autocomplete="off">
</div>
</div>

<div class="mb-3">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
<input type="date" name="dob"  class="form-control" ngModel required dob #dob="ngModel" >
</div>
</div>
<p class="help-block text-white" *ngIf="!dob.valid && dob.touched">Not eligible</p>
<div class="mb-3">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
<input type="tel" name="contactNo"  placeholder="Enter Contact Number" class="form-control" 
ngModel required contactNo #contactNo="ngModel" 
autocomplete="off">
</div>
</div>
 <!-- <p class="help-block text-white"  *ngIf="!(contactNo.value.length===10)  &&contactNo.touched">Wrong Number</p> -->

<div class="mb-3">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
<input type="password" name="password" placeholder="Enter Password" class="form-control"
 ngModel required password #password="ngModel"
 autocomplete="off"
 >
</div>
</div>

<div class="mb-3">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
<input type="password" name="conPassword" placeholder="Confirm Password" class="form-control" ngModel required passwordCon #passwordCon="ngModel">
</div>
</div>
<p class="help-block" *ngIf="!(password.value===passwordCon.value) && passwordCon.touched">Password is not match</p>

<div class="mb-3">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
<textarea rows=3 name="address" placeholder="Enter Address ..." class="form-control" ngModel  #address="ngModel" ></textarea>
</div>
</div>


  <div class="input-group">
   
</div>
<button class="btn btn-warning btn-block" [disabled]="!form.valid">Submit</button>
<div class="input-group">

 <a href="#">Already have account? Login here</a>  
</div>
  
</form>

</div>